.filter {
    height: 100vh;
    background: #fcfcfc;
    font-family: arial;
    box-shadow: 0px 0px 15px 0px #000000;
    
    h2 {
        margin: 0;
        padding: 10px 15px;
    }
    
    &__content {
        width: 300px;
        box-sizing: border-box;
        padding: 10px 15px;
        display:block;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        input[type='range'] {
            width: 100px;
        }
    }
}