.content {
  display: flex;
  justify-content: space-between;
  background: #999;

  canvas {
    flex: 1;  
    align-self: flex-start;
    max-height: 100vh;
    max-width: calc(100vw / 2 - 250px);
  }
}